-r requirements.txt
-r requirements_lint.txt
aioresponses==0.7.7
requests
types-orjson
types-requests
pre-commit==4.0.1
tox==4.23.2
wheel==0.45.1
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-cov==6.0.0
